@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model LoginModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookStore Login</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1-2">BookStore</span>
    </div>

    <div class="m-1 p-1 shadow p-3 mb-5 bg-body rounded">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Account" asp-action="Login">

            <div class="form-group form-floating mb-2">

                <input asp-for="Username" id="floatingUsername" class="form-control" />
                <label for="floatingUsername" asp-for="Username">Username:</label>
            </div>

            <div class="form-group form-floating mb-2">
                <input asp-for="Password" id="floatingPassword" class="form-control" type="password" />
                <label for="floatingPassword" asp-for="Password">Password:</label>

            </div>

            <button class="btn btn-primary" type="submit">Log In</button>

            <input type="hidden" asp-for="ReturnUrl" />

        </form>

    </div>
</body>
</html>
