@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model intexnew.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>BookStore Admin</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <compone type="typeof(intexnew.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>